name: PMD Analysis

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  pmd-analysis:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: "17"

      - name: Install PMD
        run: |
          wget https://github.com/pmd/pmd/releases/download/pmd_releases%2F6.49.0/pmd-bin-6.49.0.zip
          unzip pmd-bin-6.49.0.zip -d pmd
          export PATH="$PATH:$GITHUB_WORKSPACE/pmd/pmd-bin-6.49.0/bin"

      - name: Run PMD
        run: |
          pmd-bin-6.49.0/bin/run.sh pmd -d ./src -R rulesets/java/quickstart.xml -f text -r pmd-report.txt

      - name: Upload PMD report
        uses: actions/upload-artifact@v3
        with:
          java-version: "17"
          distribution: "corretto"
          name: pmd-report
          path: pmd-report.txt
